.home-card {
    background-color: #b18b69;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.form-card {
    background-color: #f3f1f1;
    border-radius: 16px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-bottom: 30px;
    width: 90%;
    box-sizing: border-box;
}

@media screen and (min-width: 576px) {
    .form-card {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .form-card {
        width: 40%;
    }
}

.form-heading {
    color: #000000;
    font-family: "Roboto";
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 10px;
}

.form-input {
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 100%;
    border: 1px solid #e6dfda;
    padding-left: 14px;
    margin-top: 16px;
    box-sizing: border-box;
}

.form-message {
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #e6dfda;
    padding: 14px;
    margin-top: 16px;
    box-sizing: border-box;
}

.form-submit-btn {
    background-color: #94755a;
    border: none;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
    outline: none;
}

.success-message {
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 500;
}

.error-msg {
    color: #ca3a3a;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
    align-self: flex-start;
}